services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    env_file: ./backend/.env
    environment:
      - FRONTEND_URL=http://localhost:5173

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file: ./frontend/.env
    depends_on:
      - backend
